@model CategoriaModel 
@{
    if(Context.Request.RouteValues.ContainsKey("id"))
    {
        ViewBag.Subtitulo = "Alteração de Categoria";
    }
    else
    {
        ViewBag.Subtitulo = "Cadastro de Categoria";
    }
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>

<form asp-action="Cadastrar">
    <input type="hidden" asp-for="@Model.IdCategoria">
    <label asp-for="@Model.Nome">Nome: </label>
    <input type="text" asp-for="@Model.Nome" class="form-control col-sm-8 col-lg-4" autofocus>
    <!-- asp-validation-for = define uma mensagem de erro caso o campo nao seja preenchido corretamente-->
    <span asp-validation-for="@Model.Nome" class="text-danger"></span> 
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

